alias notebook="docker run -it --rm -p 8888:8888 --name jupyter -v $(pwd):/home/jovyan/work jupyter/tensorflow-notebook"
alias q='exit'

alias ls='ls --color=auto --group-directories-first --time-style=+"%Y-%m-%d %H:%M"'
alias l='ls'
alias ll='ls -l'
alias la='ls -la'
alias lt='ls -lt'

alias mkdir='mkdir -p'
alias pd='pushd .'
alias pp='popd'
alias grep='grep --color=tty -d skip'
alias cp='cp -i'
alias del='trash-put'
alias ..='cd ..'

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'

    alias grep='grep --color=auto'
    #alias fgrep='fgrep --color=auto'
    #alias egrep='egrep --color=auto'
fi

alias win='cd /mnt/c/Users/39466831/'
