# ls
alias ls='ls --group-directories-first --time-style=+"%Y-%m-%d %H:%M"'
alias l='ls'
alias ll='ls -l'
alias la='ls -la'
alias lt='ls -lt'

alias vim='nvim'
alias n='nvim'

alias feh='feh -g 800x600 --scale-down'

# Color support
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto --group-directories-first --time-style=+"%Y-%m-%d %H:%M"'

    # grep
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

alias q='exit'
alias mkdir='mkdir -p'
alias cp='cp -i'
alias mv='mv -i'

# jupyter notebook
alias notebook="docker run -it --rm -p 8888:8888 --name jupyter -v $(pwd):/home/jovyan/work jupyter/tensorflow-notebook"

# wsl
alias win='cd $(wslpath $(wslvar USERPROFILE))'

# navigation
alias pd='pushd .'
alias pp='popd'
alias ..='cd ..'

# rm
alias del='trash-put'
alias rm='rm -i'
