#ifdef THEME
#include THEME
#else
#define THEME DEFAULT
#define COLOR0 #ff0000
#endif

#include ".config/xres/xterm.xres"
#include ".config/xres/dwm.xres"
#include ".config/xres/st.xres"
#include ".config/xres/dmenu.xres"

theme: THEME
